/*--------------------------------------------------------------
# Feature Section
--------------------------------------------------------------*/

#feature {
    background: rgb(248, 248, 248);
    height: 100vh;
    padding-left: 30px;
}

#feature h1 {
    font-weight: 600;
}

#feature .fleft {
    padding-top: 50vh;
}


#feature img {
    padding-top: 90px;
    max-width: 300px;
    height: auto;
}

@media (max-width: 991px) {
    #feature {
        height: 100vh;
        text-align: center;
        padding-left: 0px;
    }
    #feature .feature-img {
        padding-top: 0;
        text-align: center;
    }
    #feature .feature-img img {
    width: 60%;
    padding-top: 20px;
    }
}

@media (max-width: 768px) {
        #feature h1 {
        font-size: 28px;
        line-height: 36px;
    }
        #feature h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
        #feature .feature-img img {
        width: 60%;
    }    
} 

#feature a:hover {
    text-decoration: none;
}