nav {
    height: 85px;
    border-bottom: 10px solid #00203F;
}
#logo {
    margin-top: 22px;
    margin-left: 10px;
}
#handit {
    height: 40px;
    width: auto;
    float: right;
    margin-top: 22px;
    margin-right: 15px;
}
#pocit {
    height: 80px;
    width: auto;
    float: right;
    margin-top: 0px;
    margin-right: 15px;
}